{% extends 'base.html.twig' %}

{% block page %}

    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mr-0 mr-md-2 header-nav-brand" href="{{ path('DR\\GitCommitNotification\\Controller\\App\\DashboardController') }}"
           aria-label="Git commit notification" title="Git commit notification">
            G
        </a>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
        </ul>

        <a class="navbar-brand mr-0 mr-md-2 header-nav-logout" href="{{ path('DR\\GitCommitNotification\\Controller\\Auth\\LogoutController') }}"
           aria-label="Logout" title="Logout">
            Logout
        </a>
    </header>

    <div class="content-layout-center">
        {% block page_content %}{% endblock %}
    </div>

{% endblock %}
