{% extends 'app/app.base.html.twig' %}

{% block page_content %}

    <h1>{{ 'Rules'|trans }}</h1>

    <div class="list-group">
        {% for rule in dashboardModel.rules %}

            <a href="#" class="list-group-item list-group-item-action">
                {{ rule.active }} - {{ rule.name }} - {{ rule.ruleOptions.frequency }}
            </a>
        {% endfor %}
    </div>

{% endblock %}
