<div class="row pb-2" data-edit-rule-target="recipient">
    <div class="col-5">
        {{ form_widget(recipient.email) }}
    </div>
    <div class="col-5">
        {{ form_widget(recipient.name) }}
    </div>
    <div class="col">
        <a href="javascript:" data-action="edit-rule#deleteRecipient" class="btn btn-outline-danger">&times;</a>
    </div>
</div>
