{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <div class="mt-2 pb-2 clearfix">
        <h2 class="float-start pe-3 mb-0">{{ 'search'|trans }}</h2>
    </div>

    searching code
{% endblock %}
