<a href="{{ url }}"
   title="{{ title }}"
   class="btn btn-outline-primary btn-sm border-0 ms-1"
        {{ stimulus_controller('ide-button') }}
        {{ stimulus_action('ide-button', 'onClick', 'click') }}
   >
    <i class="bi bi-arrow-up-right-square-fill"></i>
</a>
