:host {
    display: block;
    animation: toast-animation 0s ease-in 20s forwards;
    animation-fill-mode: forwards;
    max-height: 100px;
    overflow: hidden;
}

.toast-info {
    border-left: 5px solid var(--bs-primary);
}

.toast-error {
    border-left: 5px solid var(--bs-danger);
}

.toast-success {
    border-left: 5px solid var(--bs-success);
}

@keyframes toast-animation {
    to {
        height: 0;
    }
}
