{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <h1 class="mb-4 mt-2">
        {% if editCredentialModel.credential.id is same as null %}
            {{ 'add.credential'|trans }}
        {% else %}
            {{ 'edit.credential'|trans }} #{{ editCredentialModel.credential.id }}
        {% endif %}
    </h1>

    {{ form(editCredentialModel.form ) }}

{% endblock %}
