<div class="login-registration-container">
  <h2 class="mb-4">Sign in</h2>

  <form (ngSubmit)="handleSubmit()">
    <div class="mb-3">
      <form-label [form]="loginViewModel.form.children._username"/>
      <form-widget [form]="loginViewModel.form.children._username"/>
    </div>
    <div class="mb-3">
      <form-label [form]="loginViewModel.form.children._password"/>
      <form-widget [form]="loginViewModel.form.children._password"/>
    </div>
    <div class="mb-3">
      <form-widget [form]="loginViewModel.form.children.loginBtn"/>
      <a class="ms-2" href="/register">Create a new account</a>
    </div>
    <form-widget [form]="loginViewModel.form.children._csrf_token"/>
  </form>
</div>
