{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    <div class="mt-5 text-center">
        {{ 'user.gitlab.sync.mandatory.text'|trans({app_name: app_name}) }}
    </div>
{% endblock %}
