## overrides for development
services:
    nginx:
        volumes:
            - ./docker/ssl/dhparam.pem:/etc/ssl/certs/dhparam.pem:ro
            - ./docker/ssl/development/development-self-signed.crt:/etc/ssl/certs/123view-cert.crt:ro
            - ./docker/ssl/development/development-self-signed.key:/etc/ssl/private/123view-cert.key:ro

    php-fpm:
        build:
            target: dev
        environment:
            XDEBUG_MODE: debug
            XDEBUG_CONFIG: client_host=host.docker.internal discover_client_host=true start_with_request=trigger
            PHP_IDE_CONFIG: serverName=localhost
            DATABASE_URL: mysql://${DB_USER:-dev}:${DB_PASS:-123inkt}@mysql:3306/${DB_NAME:-123view}?serverVersion=${MYSQL_VERSION}&charset=utf8mb4
            APP_ENV: dev

    mysql:
        environment:
            MYSQL_USER: ${DB_USER:-dev}
            MYSQL_PASSWORD: ${DB_PASS:-123inkt}
            MYSQL_DATABASE: ${DB_NAME:-123view}
            MYSQL_ROOT_PASSWORD: ${DB_PASS:-123inkt}

    rabbitmq:
        environment:
            RABBITMQ_USERNAME: ${RABBITMQ_USERNAME:-rabbitmq}
            RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD:-rabbitmq}
        ports:
            - ${RABBITMQ_CLIENT_PORT:-5672}:5672
            - ${RABBITMQ_API_PORT:-15672}:15672

    nodejs:
        environment:
            APP_ENV: dev

    angular:
        environment:
            APP_ENV: dev

    my_mercure:
        volumes:
            - ./docker/ssl/development/development-self-signed.crt:/etc/ssl/certs/123view-cert.crt:ro
            - ./docker/ssl/development/development-self-signed.key:/etc/ssl/private/123view-cert.key:ro
        command: /usr/bin/caddy run --config /etc/caddy/dev.Caddyfile
