includes:
    - phpstan-baseline.neon

parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  doctrine:
    ormRepositoryClass: DR\Review\Doctrine\EntityRepository\ServiceEntityRepository
    objectManagerLoader: tests/object-manager.php
  symfony:
    containerXmlPath: var/build/dev/DR_Review_KernelDevDebugContainer.xml
  scanDirectories:
    - var/build/dev/Symfony/Config
  paths:
    - src
    - tests
