parameters:
	ignoreErrors:
		-
			message: "#^Method DR\\\\Review\\\\ApiPlatform\\\\OpenApiFactory\\:\\:__invoke\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ApiPlatform/OpenApiFactory.php

		-
			message: "#^Method DR\\\\Review\\\\ApiPlatform\\\\Provider\\\\CodeReviewActivityProvider\\:\\:provide\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ApiPlatform/Provider/CodeReviewActivityProvider.php

		-
			message: "#^Method DR\\\\Review\\\\ApiPlatform\\\\Provider\\\\CodeReviewActivityProvider\\:\\:provide\\(\\) has parameter \\$uriVariables with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ApiPlatform/Provider/CodeReviewActivityProvider.php

		-
			message: "#^Method DR\\\\Review\\\\ApiPlatform\\\\Provider\\\\CodeReviewProvider\\:\\:provide\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ApiPlatform/Provider/CodeReviewProvider.php

		-
			message: "#^Method DR\\\\Review\\\\ApiPlatform\\\\Provider\\\\CodeReviewProvider\\:\\:provide\\(\\) has parameter \\$uriVariables with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ApiPlatform/Provider/CodeReviewProvider.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:generate\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:match\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:matchRequest\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNull\\(\\) with null will always evaluate to true\\.$#"
			count: 2
			path: tests/Unit/Utility/ArraysTest.php
