parameters:
	ignoreErrors:
		-
			message: "#^Method DR\\\\Review\\\\ApiPlatform\\\\OpenApi\\\\OpenApiFactory\\:\\:__invoke\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ApiPlatform/OpenApi/OpenApiFactory.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:generate\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:match\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:matchRequest\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php
