parameters:
	ignoreErrors:
		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:generate\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:match\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Method DR\\\\Review\\\\Router\\\\ReviewRouter\\:\\:matchRequest\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Router/ReviewRouter.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNull\\(\\) with null will always evaluate to true\\.$#"
			count: 2
			path: tests/Unit/Utility/ArraysTest.php

		-
			message: "#^Return type of call to static method DR\\\\Review\\\\Utility\\\\Assert\\:\\:isArray\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/Unit/Utility/AssertTest.php
