{% extends 'app/app.base.html.twig' %}

{% block page_content %}

    <h1 class="mt-2">{{ 'projects'|trans }}</h1>

    {% set columnSize = projectsModel.repositories|length / 4 %}
    {% set batches    = projectsModel.repositories|batch(columnSize) %}

    <div class="grid-display">
        {%- for batch in batches -%}
            <div class="list-group">
                {%- for repository in batch -%}
                    <a class="list-group-item list-group-item-action"
                       href="{{ path('DR\\GitCommitNotification\\Controller\\App\\Review\\ReviewsController', {id: repository.id}) }}">
                        {{- repository.displayName -}}
                    </a>
                {%- endfor -%}
            </div>
        {%- endfor -%}
    </div>

{% endblock %}
