{% extends 'app/app.wide.base.html.twig' %}

{%- block page_content -%}
    {% set review = reviewModel.review %}
    {% set reviewer = reviewModel.getReviewer(app.user) %}

    <div class="review-grid-layout" data-controller="Review">
        {%- include 'app/review/review.header.html.twig' with {reviewModel, review, reviewer} -%}

        {%- include 'app/review/review.sidebar.html.twig' -%}

        {%- if reviewModel.timelineViewModel is not same as (null) -%}
            <div class="review-grid-code">
                {%- include 'app/review/review.timeline.html.twig' with {timelineViewModel: reviewModel.timelineViewModel} %}
            </div>
        {%- elseif reviewModel.fileDiffViewModel is not same as (null) -%}
            <div class="review-grid-code" data-controller="ScrollPositioner">
                {%- include 'app/review/commit/commit.file.html.twig' with {fileDiffViewModel: reviewModel.fileDiffViewModel} %}
            </div>
        {%- endif -%}
    </div>

{%- endblock -%}
