{% extends 'app/app.base.html.twig' %}

{% block page_content %}
    {% set review = reviewModel.review %}
    {% set revisions = review.revisions %}

    <h3 class="mt-2">{{ 'CR-' ~ review.id ~ ' ' ~ review.title }}</h3>

    {% for revision in revisions %}
        {{ revision.commitHash|slice(0, 7) }}<br>
        {{ revision.authorName }}<br>
        {{ revision.createTimestamp|date }}<br>
    {% endfor %}

{% endblock %}
