{# timelineViewModel: TimelineViewModel #}

<h5>{{ 'keybindings'|trans }}</h5>

<ul>
    <li><span class="badge bg-secondary">Alt+down</span> {{ 'keybinding.next.file'|trans }}</li>
    <li><span class="badge bg-secondary">Alt+up</span> {{ 'keybinding.prev.file'|trans }}</li>
    <li><span class="badge bg-secondary">Escape</span> {{ 'keybinding.return.to.summary'|trans }}</li>
</ul>
