{# timelineViewModel: TimelineViewModel #}

<div class="review-timeline__overview">
    {%- include 'app/review/review.dashboard.timeline.html.twig' -%}
    <div class="mt-4"></div>
    {%- include 'app/review/review.dashboard.keybindings.html.twig' -%}
</div>
