{% use "app/review/review.timeline.entry.html.twig" %}

{# timelineViewModel: TimelineViewModel #}


<div class="review-timeline__overview">
    {% for entry in timelineViewModel.entries %}
        {% set activity = entry.activities|first %}
        {% set username = activity.user ? activity.user.name : app_name %}
        {{ block(activity.eventName|replace({'-': '_'})) }}
    {% endfor %}
</div>
