[mysqld]
key_buffer_size = 128M
thread_stack = 128K
thread_cache_size = 8
table_cache = 8192
max_heap_table_size = 256M
query_cache_limit = 4M
query_cache_size = 512M

innodb_buffer_pool_size = 3G

# This is crucial to avoid checkpointing all the time:
innodb_log_file_size = 512M

skip_name_resolve
