{# review: CodeReview #}
<div class="review-notification-list"
     {{ stimulus_controller('review-notification-list') }}
     data-review-notification-list-review-id-value="{{ review.id }}"
     data-review-notification-list-user-id-value="{{ app.user.id }}">
    <template data-review-notification-list-target="template">
        <div class="review-notification-container">
            <div class="bg-dark text-light small rounded-2 p-2 shadow-sm mt-2" data-role="item"></div>
        </div>
    </template>
</div>
