:root {
    --review-sidebar-gap: 10px;
    --review-sidebar-width: 400px;
}

.header-nav-brand {
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 30px;
    line-height: 28px;
    margin-left: 20px;
    margin-right: 3px;
    padding: 0;
    text-align: center;
    width: 30px;
}

blockquote {
    border-left: 2px solid #cccccc;
    margin: 0;
    padding-left: 5px;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    padding-left: 15px;
}

.content-layout-center {
    margin: 20px auto;
    max-width: 1000px;
}

.form-text {
    display: none;
}

.form-text-visible {
    display: block;
}

.dr-btn-orange {
    --bs-btn-color: #e24329;
    --bs-btn-border-color: #e24329;
    --bs-btn-hover-bg: #e24329;
    --bs-btn-hover-border-color: #e24329;
    --bs-btn-active-bg: #e24329;
    --bs-btn-active-border-color: #e24329;
}

.form-control:required,
.form-select {
    border-left: 4px solid #dc3545;
}

.rule-table .rule-table-options {
    width: 110px;
}

.error-page {
    max-width: 800px;
    margin: 10px auto;
}

.repository-columns > * {
    column-count: 6;
}

.search-form-mode {
    max-width: fit-content;
}
