.comment__comment-thread {
    background: var(--comment-background-color);
    border-bottom: 1px solid var(--comment-border-color);
    font-size: 0.9rem;

    .comment__quick-reactions {
        opacity: 0;
        transition: opacity 0.2s 3s;
    }

    &:hover .comment__quick-reactions {
        opacity: 1;
        transition: opacity 0.2s;
    }
}

.comment__detached-comment {
    color: var(--comment-secondary-color);
    font-size: 0.8rem;
    padding-bottom: 2px;
}

.comment__comment {
    max-width: calc(100vw - var(--review-sidebar-width) - var(--review-sidebar-gap) - 35px);
}

.diff-side-by-side .comment__comment {
    max-width: calc((100vw - var(--review-sidebar-width) - var(--review-sidebar-gap)) / 2 - 35px);
}

.comment__comment,
.comment__reply {
    overflow-wrap: break-word;
    padding: 5px 5px 5px 20px;
}

.comment__reply {
    max-width: calc(100vw - var(--review-sidebar-width) - var(--review-sidebar-gap) - 75px);
    padding-left: 40px;

    &.comment__reply--no-indent {
        padding-left: 5px;
    }
}

.comment__comment.highlighted,
.comment__reply.highlighted {
    background: var(--bs-warning-bg-subtle);
    border-left: 4px solid var(--bs-warning);
    transition: background-color 0.3s ease, border-left 0.3s ease;

    &.comment__state_resolved {
        background: var(--bs-success-bg-subtle);
        border-left: 4px solid var(--bs-success);
    }
}

.diff-side-by-side .comment__reply {
    max-width: calc((100vw - var(--review-sidebar-width) - var(--review-sidebar-gap)) / 2 - 35px);
}

.comment__edit-reply {
    padding-left: 32px;
}

.comment__comment .comment__author,
.comment__reply .comment__author {
    font-size: 0.8rem;
    font-weight: bold;
}

.comment__comment .comment__datetime,
.comment__reply .comment__datetime {
    color: var(--comment-secondary-color);
    font-size: 0.8rem;
}

.comment__comment-thread.comment__state_resolved,
.comment__comment-thread.comment__state_resolved .comment__author,
.comment__comment-thread.comment__state_resolved .comment__datetime,
.comment__comment-thread.comment__state_resolved .comment__edit *,
.comment__comment-thread.comment__state_resolved .comment__state *,
.comment__comment-thread.comment__state_resolved .comment__message *,
.comment__comment-thread.comment__state_resolved .comment__toolbar * {
    /* stylelint-disable */
    color: var(--comment-secondary-color) !important;
    /* stylelint-enable */
}

.comment__comment-thread.comment__state_resolved .comment__message img {
    filter: grayscale(1);
}

.comment__comment .comment__edit,
.comment__reply .comment__edit {
    display: none;
}

.comment__comment:hover .comment__edit,
.comment__reply:hover .comment__edit {
    display: inline-block;
}

.comment__toolbar {
    padding-bottom: 5px;
    padding-left: 20px;
}

.comment__action-button {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;

    &.active {
        color: #ffffff;
        background: var(--bs-success);
        border-radius: 5px;
    }
}

.comment__reaction-button {
    text-decoration: none;

    &[disabled] {
        cursor: default;
        opacity: 0.25;
    }
}
