.c-icon-checkbox {
    .icon-checkbox:checked + label + .icon-checked {
        display: inline;
    }

    .icon-checkbox:checked + label + .icon-checked + .icon-unchecked {
        display: none;
    }

    .icon-checkbox:not(:checked) + label + .icon-checked {
        display: none;
    }

    .icon-checkbox:not(:checked) + label + .icon-checked + .icon-unchecked {
        display: inline;
    }
}

a.c-icon-checkbox {
    text-decoration: none;
}
