.comment__markdown pre,
.comment__markdown p {
    margin-bottom: 0;
}

.comment__markdown pre.notranslate {
    background: none;
    padding: 0;
}

.comment__markdown h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

.comment__markdown h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bold;
}

.comment__markdown h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.comment__markdown h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}
