.review-container {
    padding: 0 0 0 10px;
}

.review-grid-layout {
    display: grid;
    gap: 10px var(--review-sidebar-gap);
    grid-template-rows: auto 1fr;
    height: calc(100vh - 56px);
}

.review-grid-layout {
    .review-split-panel {
        display: grid;
        grid-template-columns: var(--review-sidebar-width) 10px auto;
        overflow-y: auto;
    }

    .review-split-panel-left,
    .review-split-panel-right {
        display: grid;
        overflow-y: auto;
    }

    .review-split-panel-separator {
        margin: 0 2px;
        cursor: e-resize;
        user-select: none;

        &:hover {
            background-color: var(--bs-body-color);
            opacity: 0.3;
        }
    }
}

.review-grid-layout .review-grid-sidebar,
.review-grid-layout .review-grid-code {
    overflow-y: auto;
}

.review-grid-layout .review-grid-code {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.review-grid-layout .review-grid-header .review-heading {
    height: 37px;
}

.review--description {
    font-size: 0.8rem;
}

.diff-file__file-preview {
    padding: 5px 20px;
    border: 1px solid var(--comment-border-color);
    margin-bottom: 5px;
}

.review-file-tree--directories {
    color: var(--review-file-tree-directory-color);
    font-size: 0.9rem;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.review-file-tree--directories-root > .review-file-tree--directories {
    padding: 0;
}

.review-file-tree--directory.collapsed > .review-file-tree--files,
.review-file-tree--directory.collapsed > .review-file-tree--directories {
    display: none;
}

.icon-directory-collapsed,
.review-file-tree--directory.collapsed .icon-directory-default {
    display: none;
}

.review-file-tree--directory.collapsed .icon-directory-collapsed {
    display: inline;
}

.review-file-tree--directory-label {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.review-file-tree--files {
    color: var(--review-file-tree-file-color);
    font-size: 0.9rem;
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
}

.review-file-tree--files-root {
    padding-left: 0;
}

.review-file-tree--file {
    display: grid;
    grid-template-columns: 1fr auto;
}

.review-file-tree--file-link:hover .review-file-tree--file-name {
    text-decoration: underline;
}

.review-file-tree--file-link .diff-file__file-change-state {
    display: inline-block;
    font-family: 'Segoe UI Symbol', Arial, sans-serif;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    width: 12px;
}

.review-file-tree--unseen .review-file-tree--file-link {
    font-weight: 600;
}

.review-file-tree--file-seen-status {
    border: 1px solid var(--review-file-tree-status-color);
    border-radius: 7px;
    cursor: pointer;
    display: block;
    float: right;
    height: 14px;
    line-height: 14px;
    margin: 4px 2px 0 4px;
    position: relative;
    text-align: center;
    width: 14px;
}

.review-file-tree--file-seen-status.seen::before {
    color: var(--review-file-tree-status-color);
    content: '✓';
    font-size: 12px;
    left: 1px;
    position: absolute;
    top: -1px;
}

.review-grid-sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
}

.review-grid-sidebar--grid-bottom {
    overflow: auto;
    padding-right: 5px;
}

.review-grid-sidebar .reviewer-state {
    display: block;
    float: left;
    margin-right: 3px;
}

.review-grid-sidebar .reviewer-name {
    display: block;
    float: left;
}

.review-grid-sidebar .reviewer-remove {
    display: block;
    float: left;
    font-size: 0.5rem;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 24px;
}

.review-grid-sidebar .add-reviewer-form-user {
    font-size: 0.8rem;

    :not(.user) {
        color: var(--review-add-reviewer-placeholder-color);
    }
}

.review-reload-required {
    display: none;
    left: calc(50% - 100px);
    position: absolute;
    top: 0;
    width: 300px;
}

.review-change-branch-form {
    display: inline-block;
    padding-top: 3px;
    max-width: 150px;
    overflow: hidden;
    height: 37px;
}
