.review-revision--grid {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto 1fr 50px;
}

.review-revision-branch--grid {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 50px;
}

.review-revision--title-author {
    font-size: 0.7rem;
}

.review-revision--author-time {
    font-size: 0.9rem;
}

.review-revision--branch {
    font-size: 0.7rem;
}

.review-revision--commit-hash {
    font-size: 0.7rem;
}

.review-revision--header {
    margin-left: 3px;
}

.review-revision--selection .form-check {
    margin: 0;
    padding: 0;
}

.review-revision--selection .form-check-input {
    margin-left: 3px;
    margin-right: 0;
}

.review-revision-list--title {
    width: 830px;
}

.revision-entities-title {
    max-width: 600px;
}

.review-revision.search-active .review-revision--grid:not(.search-match) {
    display: none;
}
