.diff-file__file-revision-scrollpane {
    overflow: auto;
}

.diff-file__file-revision-file {
    min-width: 100%;
    width: max-content;
}

.diff-file__file-change-state {
    display: inline-block;
    font-family: 'Segoe UI Symbol', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 5px;
    margin-right: 3px;
    vertical-align: middle;
}

.diff-file__directory-name {
    color: var(--review-diff-directory-name-color);
    font-size: 12px;
}

.diff-file__file-mode-change {
    color: var(--review-diff-file-name-color);
    font-size: 13px;
    font-style: italic;
}

.diff-file__file-diff {
    border: 1px solid var(--review-diff-border-color);
    border-radius: 2px;
    margin-bottom: 16px;
}

.diff-file__block-spacer {
    background-color: var(--review-diff-spacer-bg-color);
    color: var(--review-diff-spacer-fg-color);
    cursor: pointer;
    height: 24px;
    position: relative;
    user-select: none;
}

.diff-file__block-spacer--clickable:hover {
    background-color: var(--review-diff-spacer-hover-bg-color);
    color: var(--review-diff-spacer-hover-fg-color);
}

.diff-file__block-spacer--not-clickable {
    cursor: not-allowed;
}

.diff-file__block-spacer-line-nr {
    font-family: 'JetBrains Mono', Menlo, 'Bitstream Vera Sans Mono', 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 13px;
    line-height: 20px;
    margin-right: 2px;
    white-space: pre;
}

.diff-file__block-spacer-divider__top,
.diff-file__block-spacer-divider__bottom {
    height: 12px;
    left: 0;
    padding-left: 4px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.diff-file__block-spacer-divider__top {
    border-top: 1px solid transparent;
    top: 0;

    &:hover {
        border-top: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }
}

.diff-file__block-spacer-divider__bottom {
    border-bottom: 1px solid transparent;
    bottom: 0;

    &:hover {
        border-bottom: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }
}

.diff-file__block-spacer-divider__top .indicator,
.diff-file__block-spacer-divider__bottom .indicator {
    display: block;
    font-size: 9px;
    height: 10px;
    width: 10px;
}

.diff-file_line-expander-lines {
    font-size: 0.8rem;
    left: 100px;
    line-height: 24px;
    position: absolute;
    top: 0;
}

.diff-file__diff-block {
    margin: 0;
}

.diff-file__diff-line {
    color: var(--review-diff-line-fg-color);
    cursor: default;
    font-family: 'JetBrains Mono', Menlo, 'Bitstream Vera Sans Mono', 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 13px;
    line-height: 20px;
    white-space: pre;
}

.diff-file__diff-line-hidden {
    display: none;
}

.diff-file__diff-line__code-inspection-issue {
    text-decoration: #ff0000 underline wavy;
}

.diff-file__line-gutter {
    border-right: 1px solid var(--review-diff-gutter-border-color);
    color: var(--review-diff-gutter-fg-color);
    display: inline-block;
    float: left;
    position: relative;
    user-select: none;
}

.diff-file__diff-line-coverage {
    display: inline-block;
    float: left;
    height: 20px;
    line-height: 20px;
    width: 8px;
}

.diff-file__add-comment {
    background: var(--review-diff-add-comment-bg-color);
    color: var(--review-diff-add-comment-fg-color);
    cursor: pointer;
    display: none;
    inset: 0;
    position: absolute;
    text-align: center;
}

.diff-file__line-numbers {
    margin-right: 2px;
    padding: 0 4px;
}

.diff-file__diff-change-state {
    margin: 0 5px;
    user-select: none;
}

.diff-file__line-change-added {
    background: var(--review-diff-line-added-bg-color);

    > .diff-file__line-gutter {
        background: var(--review-diff-line-gutter-added-bg-color);
        color: var(--review-diff-gutter-emphasize-fg-color);
    }
}

.diff-file__line-change-removed {
    background: var(--review-diff-line-removed-bg-color);

    > .diff-file__line-gutter {
        background: var(--review-diff-line-gutter-removed-bg-color);
        color: var(--review-diff-gutter-emphasize-fg-color);
    }
}

.diff-file__line-change-changed {
    background: var(--review-diff-line-changed-bg-color);

    > .diff-file__line-gutter {
        background: var(--review-diff-line-gutter-changed-bg-color);
        color: var(--review-diff-gutter-emphasize-fg-color);
    }
}

.diff-file__line-change-empty {
    background: var(--review-diff-line-empty-bg-color);
}

.diff-file__diff-line:hover {
    background: var(--review-diff-line-hover-bg-color);
}

.diff-file__diff-line:hover .diff-file__add-comment {
    display: block;
}

.diff-file__line-change-empty:hover {
    background: var(--review-diff-line-empty-bg-color);
}

.diff-file__change-added {
    background-color: var(--review-diff-change-added-bg-color);
}

.diff-file__change-removed {
    background-color: var(--review-diff-change-removed-bg-color);
}

.diff-file__comment_form {
    background: var(--bs-warning-bg-subtle);
    padding: 10px 10px 5px 10px;
}

.diff-file__comment_form_max_size {
    max-width: calc(100vw - var(--review-sidebar-width) - var(--review-sidebar-gap) - 55px);
}

.diff-side-by-side .diff-file__comment_form_max_size {
    max-width: calc((100vw - var(--review-sidebar-width) - var(--review-sidebar-gap)) / 2 - 55px);
}

.diff-file__comment-mention {
    left: 4px;
    top: -15px;
}
