.review-revision--grid {
    display: grid;
    grid-template-columns: auto 1fr 50px;
    grid-column-gap: 5px;
}

.review-revision--author-time {
    font-size: .9rem;
}

.review-revision--commit-hash {
    font-size: .7rem;
}

.review-revision--header {
    margin-left: 3px;
}

.review-revision--selection .form-check {
    padding: 0;
    margin: 0;
}

.review-revision--selection .form-check-input {
    margin-right: 0;
    margin-left: 3px;
}

.review-revision-list--title {
    width: 830px;
}

.revision-entities-title {
    max-width: 600px;
}
