:root {
    --comment-secondary-color: #999999;
    --comment-background-color: #fffee0;
    --comment-border-color: #e5e4c9;
    --review-add-reviewer-placeholder-color: #999999;
    --review-file-tree-directory-color: #999999;
    --review-file-tree-file-color: #000000;
    --review-file-tree-status-color: #008000;
    --review-diff-directory-name-color: #999999;
    --review-diff-file-name-color: #999999;
    --review-diff-border-color: #e9e9e9;
    --review-diff-spacer-bg-color: #f8f8f8;
    --review-diff-spacer-fg-color: #aaaaaa;
    --review-diff-spacer-hover-bg-color: #e8e8e8;
    --review-diff-spacer-hover-fg-color: #666666;
    --review-diff-line-fg-color: #0c0c0d;
    --review-diff-gutter-border-color: #cccccc;
    --review-diff-gutter-fg-color: rgb(0, 0, 0, 0.3);
    --review-diff-gutter-emphasize-fg-color: rgb(0, 0, 0, 0.3);
    --review-diff-add-comment-bg-color: #fffee0;
    --review-diff-add-comment-fg-color: #ff008c;
    --review-diff-line-added-bg-color: #eaffea;
    --review-diff-line-removed-bg-color: #ffecec;
    --review-diff-line-changed-bg-color: #eaf0fe;
    --review-diff-line-gutter-added-bg-color: #eaffea;
    --review-diff-line-gutter-removed-bg-color: #ffecec;
    --review-diff-line-gutter-changed-bg-color: #eaf0fe;
    --review-diff-line-empty-bg-color: #f8f8f8;
    --review-diff-line-hover-bg-color: #fffee0;
    --review-diff-change-added-bg-color: #a6f3a6;
    --review-diff-change-removed-bg-color: #f8cbcb;
}

[data-bs-theme="light"] .bg-contrast {
    --bs-navbar-color: rgb(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgb(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgb(255, 255, 255, 0.25);
    --bs-navbar-active-color: #ffffff;
    --bs-navbar-brand-color: #ffffff;
    --bs-navbar-brand-hover-color: #ffffff;
    --bs-bg-opacity: 1;
    --bs-secondary-color: rgb(255, 255, 255, 0.55);

    background-color: rgb(var(--bs-dark-rgb), var(--bs-bg-opacity));

    .form-control {
        --bs-body-bg: #212529;
    }
}
