:root {
    --comment-secondary-color: #999999;
    --comment-background-color: #191919;
    --comment-border-color: #30363D;
    --review-add-reviewer-placeholder-color: #999999;
    --review-file-tree-directory-color: #999999;
    --review-file-tree-file-color: #000000;
    --review-file-tree-status-color: #008000;
    --review-diff-directory-name-color: #999999;
    --review-diff-file-name-color: #999999;
    --review-diff-border-color: #30363D;
    --review-diff-spacer-bg-color: #161B22;
    --review-diff-spacer-fg-color: #787878;
    --review-diff-spacer-hover-bg-color: #282719;
    --review-diff-spacer-hover-fg-color: #787878;
    --review-diff-line-fg-color: #E6EDF3;
    --review-diff-gutter-border-color: #30363D;
    --review-diff-gutter-fg-color: #6e7681;
    --review-diff-gutter-emphasize-fg-color: #e6edf3;
    --review-diff-add-comment-bg-color: #514E17;
    --review-diff-add-comment-fg-color: #ff008c;
    --review-diff-line-added-bg-color: #12261E;
    --review-diff-line-removed-bg-color: #25181C;
    --review-diff-line-changed-bg-color: #111D2E;
    --review-diff-line-empty-bg-color: #1d1d1d;
    --review-diff-line-gutter-added-bg-color: #1C4428;
    --review-diff-line-gutter-removed-bg-color: #542426;
    --review-diff-line-gutter-changed-bg-color: #1E4273;
    --review-diff-line-hover-bg-color: #514E17;
    --review-diff-change-added-bg-color: #1D572D;
    --review-diff-change-removed-bg-color: #542426;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #0D1117;
    --bs-tertiary-bg-rgb: 22,27,34;

    .bg-contrast {
        --bs-bg-opacity: 1;

        background-color: rgb(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
    }
}
