<div class="input-group">
  <input type="search"
         [(ngModel)]="searchModel().search"
         class="reviews-list__search-input form-control"
         [placeholder]="'search.review' | translate"
         autofocus/>

  <select class="form-control" [(ngModel)]="searchModel().orderBy">
    <option value="create-timestamp">
      {{ 'creation.date' | translate }}
    </option>
    <option value="update-timestamp">
      {{ 'last.updated' | translate }}
    </option>
  </select>

  @if (searchModel().search !== '') {
    <button class="btn btn-secondary" (click)="searchModel().search = ''">&times;</button>
  }
</div>

<div class="quick-links form-text d-block mb-3 clearfix">
  <span [innerHTML]="'review.search.hint' | translate"></span>
  <a href="https://github.com/123inkt/123view/tree/master/docs/search-reviews.md" target="_blank" rel="noopener" class="small">
    {{ 'read.more' | translate }}
  </a>
  <a href="javascript:" class="ms-1 form-text d-inline-block float-end" (click)="searchModel().search='state:closed'">
    {{ 'closed.reviews' | translate }}
  </a>
  <a href="javascript:" class="ms-1 form-text d-inline-block float-end" (click)="searchModel().search='state:open'">
    {{ 'open.reviews' | translate }}
  </a>
  <a href="javascript:" class="ms-1 form-text d-inline-block float-end" (click)="searchModel().search=''">{{ 'all.reviews' | translate }}</a>
</div>
