{% set revision = fileDiffViewModel.revisions|last %}
{% if revision and file.image and not file.deleted %}
    <div class="diff-file__file-preview">
        <img src="{{ path('DR\\Review\\Controller\\App\\Project\\ViewRevisionFileController', {id: revision.id, file: file.pathname}) }}" alt="">
    </div>
{% elseif revision and file.binary and not file.deleted %}
    <div class="diff-file__file-preview">
        <i class="bi bi-file-binary"></i> {{ 'binary.file'|trans }}.
        <a href="{{ path('DR\\Review\\Controller\\App\\Project\\ViewRevisionFileController', {id: revision.id, file: file.pathname}) }}"
           target="_blank">
            {{ 'view.file'|trans }}
        </a>
    </div>
{% else %}
    <div></div>
{% endif %}
