{# invisible_lines:      int #}
{# lineNrLengthBefore:   int #}
{# lineNrLengthAfter:    int #}
<div class="diff-file__block-spacer diff-file__block-spacer--not-clickable clearfix" title="{{ 'file.too.large'|trans }}">
    <div class="diff-file_line-expander-lines float-start">...</div>
</div>
