:root {
    --comment-secondary-color: #999999;
    --comment-background-color: #191919;
    --comment-border-color: #555555;
    --review-add-reviewer-placeholder-color: #999999;
    --review-file-tree-directory-color: #999999;
    --review-file-tree-file-color: #000000;
    --review-file-tree-file-selected-bg-color: rgba(13, 110, 253, 0.07);
    --review-file-tree-status-color: #008000;
    --review-diff-directory-name-color: #999999;
    --review-diff-file-name-color: #999999;
    --review-diff-border-color: #555555;
    --review-diff-spacer-bg-color: #191919;
    --review-diff-spacer-fg-color: #787878;
    --review-diff-spacer-hover-bg-color: #282719;
    --review-diff-spacer-hover-fg-color: #787878;
    --review-diff-line-fg-color: #ACB9B8;
    --review-diff-gutter-border-color: #555555;
    --review-diff-gutter-fg-color: #606366;
    --review-diff-add-comment-bg-color: #282719;
    --review-diff-add-comment-fg-color: #FF008C;
    --review-diff-line-added-bg-color: #2A352F;
    --review-diff-line-removed-bg-color: #373737;
    --review-diff-line-changed-bg-color: #303C47;
    --review-diff-line-hover-bg-color: #282719;
    --review-diff-change-added-bg-color: #294436;
    --review-diff-change-removed-bg-color: #484A4A;
}
