{% extends 'base.html.twig' %}

{% block page %}
    <div style="width: 400px; margin: 100px auto;">
        <h2 class="mb-4">{{ 'sign.in' | trans }}</h2>

        {% if error %}
            <div class="alert alert-danger mb-3">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock %}
