{% extends 'base.html.twig' %}


{% block page %}
    <div class="login-registration-container">
        <h2 class="mb-4">{{ 'sign.up' | trans }}</h2>

        {{ form(registrationForm) }}
    </div>
{% endblock %}
