{% extends 'base.html.twig' %}


{% block page %}
    <div style="width: 400px; margin: 100px auto;">
        <h2 class="mb-4">{{ 'sign.up' | trans }}</h2>

        {{ form(registrationForm) }}
    </div>
{% endblock %}
