<div class="container-xl">
  <div class="projects-grid mt-2">
    <h1 i18n>Projects</h1>
    <h3 class="mt-2" i18n>News feed</h3>
    <div>
      <form method="get" class="mb-3">
        <div class="input-group">
          <input type="search" name="search" [value]="projectsViewModel.searchQuery" class="form-control" placeholder="Search"/>
          @if (projectsViewModel.searchQuery !== '') {
            <a href="?search=" class="btn btn-secondary">&times;</a>
          }
        </div>
      </form>

      <app-projects-section [repositories]="getFavoriteRepositories()" [revisionCount]="projectsViewModel.revisionCount"/>
      <app-projects-section [repositories]="getRepositories()" [revisionCount]="projectsViewModel.revisionCount"/>
    </div>
    <div>
      ...
    </div>
  </div>
</div>
