<div class="container-xl">
  <div class="projects-grid mt-2">
    <h1 i18n>Projects</h1>
    <h3 class="mt-2" i18n>News feed</h3>
    <div>
      <form method="get" class="mb-3">
        <div class="input-group">
          <input type="search" name="search" value="-- search query --" class="form-control" placeholder="Search"/>
          <a href="?search=" class="btn btn-secondary">&times;</a>
        </div>
      </form>

      <!--    {{ projectColumns(projectsModel, projectsModel.favoriteRepositories) }}-->
      <!--    {{ projectColumns(projectsModel, projectsModel.regularRepositories) }}-->
    </div>
    <div>

    </div>
  </div>
</div>
