<div class="container-xxl reviews-list--grid">
  <div>
    <div class="mt-2 pb-2 clearfix">
      <h2 class="float-start pe-3 mb-0">{{ reviewListViewModel.repository.displayName }}</h2>

      <ul class="nav nav-pills float-start">
        <li class="nav-item">
          <a class="nav-link active" href="#">{{ 'reviews' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{ 'revisions' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{ 'branches' | translate }}
          </a>
        </li>
      </ul>
    </div>

    <app-review-list-search [searchModel]="reviewsSearchModel" (searchAction)="onSearch()"/>

    <div class="list-group">
      @for (review of reviewListViewModel.reviews; track review.id) {
        <a class="list-group-item list-group-item-action" href="javascript:">
          @if (reviewListViewModel.reviewStates[review.id] === 'in-review') {
            <span class="d-inline-flex px-1 text-primary bg-primary bg-opacity-10 border border-primary border-opacity-100 rounded-2 float-end">
              {{ 'in.review' | translate }}
            </span>
          } @else if (reviewListViewModel.reviewStates[review.id] === 'accepted') {
            <span class="d-inline-flex px-1 text-success bg-success bg-opacity-10 border border-success border-opacity-100 rounded-2 float-end">
              {{ 'accepted' | translate }}
            </span>
          } @else if (reviewListViewModel.reviewStates[review.id] === 'rejected') {
            <span class="d-inline-flex px-1 text-danger bg-danger bg-opacity-10 border border-danger border-opacity-100 rounded-2 float-end">
              {{ 'rejected' | translate }}
            </span>
          } @else if (reviewListViewModel.reviewStates[review.id] === 'closed') {
            <span class="d-inline-flex px-1 text-primary bg-primary bg-opacity-10 border border-primary border-opacity-100 rounded-2 float-end">
              {{ 'closed' | translate }}
            </span>
          } @else {
            <span class="d-inline-flex px-1 text-primary bg-primary bg-opacity-10 border border-primary border-opacity-100 rounded-2 float-end">
              {{ 'open' | translate }}
            </span>
          }

          <b>CR-{{ review.projectId }}</b>  {{ review.title }}

          @if (review.type === 'branch') {
            <span class="badge rounded-pill text-bg-primary">{{ 'branch.review' | translate }}</span>
          }
          <div>
            <!-- authors -->
            @if ((reviewListViewModel.authors[review.id] ?? []).length > 0) {
              <span class="text-secondary me-3">
                <small>{{ 'author' | translate }}:
                  @for (author of reviewListViewModel.authors[review.id]; track author) {
                    {{ author }}{{ $last === false ? ',' : '' }}
                  }
                </small>
              </span>
            }
            <!-- reviewers -->
            @if ((reviewListViewModel.reviewers[review.id] ?? []).length > 0) {
              <span class="text-secondary">
                <small>{{ 'reviewer' | translate }}:
                  @for (reviewer of reviewListViewModel.reviewers[review.id]; track reviewer) {
                    {{ reviewer }}{{ $last === false ? ',' : '' }}
                  }
                </small>
              </span>
            }
          </div>
        </a>
      }
    </div>

    <app-paginator [paginator]="reviewListViewModel.paginator" (pageSelected)="onPaginate($event)"></app-paginator>
  </div>
  <div>
    <h3 class="mt-2">{{ 'news.feed' | translate }}</h3>
    <app-activity-list [viewModel]="reviewActivitiesViewModel"/>
  </div>
</div>
