<div class="container-xl">
  <div class="repositories-grid mt-2">
    <h1>{{ 'projects' | translate }}</h1>
    <h3 class="mt-2">{{ 'news.feed' | translate }}</h3>
    <div>
      <div class="input-group mb-2">
        <input type="search" [(ngModel)]="searchQuery" class="form-control" placeholder="Search" autofocus/>
        @if (searchQuery !== '') {
          <a href="javascript:" class="btn btn-secondary" (click)="searchQuery = ''">&times;</a>
        }
      </div>

      <app-repositories-section [repositories]="getFavoriteRepositories()" [revisionCount]="projectsViewModel.revisionCount" [searchQuery]="searchQuery"/>
      <app-repositories-section [repositories]="getRepositories()" [revisionCount]="projectsViewModel.revisionCount" [searchQuery]="searchQuery"/>
    </div>
    <div>
      <app-activity-list [viewModel]="timelineViewModel"/>
    </div>
  </div>
</div>
