<div class="projects-repository-grid mb-5" [class.d-none]="repositoryColumns.length === 0">
  @for (batch of repositoryColumns; track $index) {
    <div class="list-group">
      @for (repository of batch; track repository.id) {
        <a class="list-group-item list-group-item-action" [routerLink]="['app', 'projects', repository.id, 'reviews']">
          {{ repository.displayName }}

          @if (revisionCount()[repository.id]) {
            <small class="d-block text-secondary">
              {{ revisionCount()[repository.id]|number }} revisions
            </small>
          }
        </a>
      }
    </div>
  }
</div>
