:host {
    display: block;
    overflow: hidden auto;
    padding-bottom: 20px;
    top: 0;

    // TODO check if this class is used or not
    .review-timeline__entry-revision {
        padding-left: 148px;
    }
}
