<div class="container-xl">
  <app-repository-menu-bar [repository]="revisionListViewModel.repository" active="revisions"/>
  <app-search-bar class="mb-3" [searchModel]="searchModel" placeholder="{{ 'search.revisions' | translate }}" (searchAction)="onSearch()"/>
  <app-revision-list [repository]="revisionListViewModel.repository"
                     [revisions]="revisionListViewModel.revisions"
                     [reviewIds]="revisionListViewModel.reviewIds"/>
  <app-paginator [paginator]="revisionListViewModel.paginator" (pageSelected)="onPaginate($event)"/>
</div>
