name: Code quality checks

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    quality:
        name: php
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.3
                    coverage: none

            -   name: Get composer cache directory
                id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            -   name: Cache composer dependencies
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: ${{ runner.os }}-composer-

            -   name: Install Composer dependencies
                run: composer install --no-progress --prefer-dist --optimize-autoloader

            -   name: Run PHPStan checks
                run: composer run check:phpstan -- --no-progress

            -   name: Run PHP Codesniffer checks
                run: composer run check:phpcs -- -q

            -   name: Run PHP MessDetector checks
                run: composer run check:phpmd

            -   name: Run twig lint
                run: php bin/console lint:twig templates

            -   name: Run container lint
                run: php bin/console lint:container

    frontend:
        name: typescript and scss
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Use Node.js 21.x
              uses: actions/setup-node@v5
              with:
                  node-version: 21.x
            - run: npm ci
            - run: npm run stylelint
            - run: npm run eslint
