.comment__comment-thread {
  background: #FFFEE0;
  border-bottom: 1px solid #e5e4c9;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.comment__detached-comment {
  color: #999999;
  font-size: 0.8rem;
  padding-bottom: 2px;
}

.comment__reply-truncated {
  padding-left: 40px;
}

.comment__comment,
.comment__reply {
  border: 5px solid #FFFEE0;
  border-left-width: 20px;
}

.comment__reply {
  border-left-width: 40px;
}

.comment__comment .comment__author,
.comment__reply .comment__author {
  font-size: 0.8rem;
  font-weight: bold;
}

.comment__comment .comment__datetime,
.comment__reply .comment__datetime {
  color: #999999;
  font-size: 0.8rem;
}

.comment__comment-thread.comment__state_resolved,
.comment__comment-thread.comment__state_resolved .comment__author,
.comment__comment-thread.comment__state_resolved .comment__author,
.comment__comment-thread.comment__state_resolved .comment__datetime,
.comment__comment-thread.comment__state_resolved .comment__state *,
.comment__comment-thread.comment__state_resolved .comment__message * {
  color: #999999 !important;
}

.comment__comment-thread.comment__state_resolved .comment__message img {
  filter: grayscale(1);
}

.comment__marked-as-resolved {
  border: 3px solid #FFFEE0;
  border-left-width: 20px;
  border-right-width: 0;
  font-size: 0.8rem;
  font-style: italic;
}

.comment__marked-as-resolved em {
  font-weight: bold;
}
