{%- set lineNrLengthBefore   = fileDiffViewModel.selectedFile.maxLineNumberLength(true) -%}
{%- set lineNrLengthAfter    = fileDiffViewModel.selectedFile.maxLineNumberLength(false) -%}
{%- set replyCommentForm     = fileDiffViewModel.replyCommentForm -%}
{%- set commentsViewModel    = fileDiffViewModel.commentsViewModel -%}
{%- set file                 = fileDiffViewModel.selectedFile -%}

<div class="!review-grid-code" style="display: grid; grid-template-rows: auto 1fr; overflow-y: auto">
    {% include 'app/review/commit/commit.header.html.twig' %}

    <div style="display: grid;grid-template-columns: 1fr 1fr; overflow-y: auto; border: 1px solid var(--review-diff-border-color);"
            {{ stimulus_controller('component--simultaneous-scroll') }}
    >
        <div style="overflow: auto" {{ stimulus_target('component--simultaneous-scroll', 'panelLeft') }}>

            {%- if fileDiffViewModel.leftSideFile.blocks -%}
                {% set isLineBefore = true %}

                {%- for block in fileDiffViewModel.leftSideFile.blocks -%}
                    {%- include 'app/review/commit/side-by-side/commit.block.html.twig' -%}

                    {%- if not loop.last -%}
                        {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div>

        <div style="overflow: auto" {{ stimulus_target('component--simultaneous-scroll', 'panelRight') }}>
            {% set isLineBefore = false %}
            {%- if file.blocks -%}

                {%- for block in file.blocks -%}
                    {%- include 'app/review/commit/side-by-side/commit.block.html.twig' -%}

                    {%- if not loop.last -%}
                        {%- include 'app/review/commit/commit.block.spacer.blocked.html.twig' -%}
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div>
    </div>
</div>
